#Robot Properties
#Sat Aug 11 01:30:45 EDT 2012
robot.description=EvBotNG (New Generation), mega bot capable of 1on1 and melee
robot.webpage=http\://robowiki.net/?EvBotNG
robocode.version=1.9.2.5
robot.java.source.included=true
robot.version=v0.1
robot.author.name=beaming
uuid=55ff1c5b-0c40-432d-adb5-a5f7658a4aed
robot.classname=eem.EvBotNG
